name: Docs Link Checker

on:
  push:
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"

jobs:
  link-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check links in markdown
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          folder-path: docs
          check-modified-files-only: true
          base-branch: main
